<div class="row mt-5">
  <div class="col-sm-12 mt30">
    <input class="form-control" [(ngModel)]="searchCards" name="buscar"
      placeholder="Buscar" />
  </div>
</div>
<h5 class="mt-4 mb-4">
  Listas em destaque
</h5>
<div class="row mb-2">
  <div class="col-md-6 c-pointer" *ngFor="let card of cards.cards | filter:searchCards">
      <div [routerLink]="['/home', card.id]" class="row no-gutters border rounded overflow-hidden flex-md-row mb-4
        shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{card?.name}}</strong>
          <h3 class="mb-0">{{card?.supertype}}</h3>
          <div class="mb-1 text-muted">{{card?.set}}</div>
          <p class="card-text mb-auto">{{card?.evolvesFrom}}</p>
          <div>
            {{card?.rarity}}
          </div>
          <a class="stretched-link">{{card?.set}}</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{card.imageUrl}}" width="180" height="250" alt="">
        </div>
      </div>
  </div>
</div>
